@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
:root {
  /*------WIDTH------*/
  --desktop-width:1440px;
  --mobile-width: 375px;
  /*------COLORS------*/
  /*primary*/
  --clr-soft-red:hsl(7, 99%, 70%);
  --clr-yellow: hsl(51, 100%, 49%);
  --clr-dark-cyan: hsl(167, 40%, 24%);
  --clr-dark-blue: hsl(198, 62%, 26%);
  --clr-dark-moderate: hsl(168, 34%, 41%);
  /*neutral*/
  --clr-very-blue: hsl(212, 27%, 19%);
  --clr-very-gray-blue: hsl(213, 9%, 39%);
  --clr-dark-grayish: hsl(232, 10%, 55%);
  --clr-grayish-blue:hsl(210, 4%, 67%);
  --clr-white: hsl(0, 0%, 100%);
  /*------TYPOGRAPHY------*/
  --fs-18: 18px;
  --ff-barlow: 'Barlow', sans-serif;
  --ff-fraunces: 'Fraunces', serif;
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;
}

body {
  font-size: var(--fs-18);
  background: var(--clr-white);
  margin: 0 auto;
  max-width: 100vw;
  width: 100%;
}

main {
  width: inherit;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  height: 80vh;
  width: inherit;
}

header .img-header {
  background: url("/img/desktop/image-header.jpg") center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: inherit;
  height: 80vh;
  position: absolute;
  z-index: -1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .titulo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

header .titulo img {
  margin-top: 50px;
  height: 15%;
}

header .titulo h1 {
  margin-top: 150px;
  color: var(--clr-white);
  font-size: 5em;
  font-family: var(--ff-fraunces);
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 30px;
}

header nav {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70px;
  padding: 0 10px 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav-brand h3 {
  color: var(--clr-white);
  font-family: var(--ff-barlow);
  font-weight: 600;
  font-size: 1.3rem;
}

header nav .nav-bar ul {
  padding-right: 50px;
}

header nav .nav-bar ul a {
  color: var(--clr-white);
  padding: 10px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header nav .nav-bar ul li {
  display: inline;
  padding-left: 30px;
  font-family: var(--ff-barlow);
}

header nav .nav-bar ul li :hover {
  padding: 10px 25px 10px 25px;
  background: var(--clr-white);
  color: var(--clr-dark-blue);
  border-radius: 40px;
  text-transform: uppercase;
}

.container-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(0, auto);
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  grid-row: 3;
  max-width: var(--desktop-width);
  margin: 0 auto;
}

.grid1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.grid2 {
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.grid3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.grid4 {
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.grid5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  grid-row: 3;
}

.grid6 {
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 3;
  grid-row: 3;
}

.container-grid > div {
  height: 600px;
  width: 100%;
}

#bd-yellow:hover {
  padding: 0 3px 0 3px;
  border-bottom: 10px solid var(--clr-yellow);
}

#bd-red:hover {
  padding: 0 3px 0 3px;
  border-bottom: 10px solid var(--clr-soft-red);
}

.grid1, .grid4 {
  padding: 150px;
}

.grid1 .grid-interno, .grid4 .grid-interno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.grid1 .grid-interno h2, .grid4 .grid-interno h2 {
  color: var(--clr-very-blue);
  font-size: 50px;
  margin: 0 auto;
  font-family: var(--ff-fraunces);
  margin-bottom: 30px;
}

.grid1 .grid-interno p, .grid4 .grid-interno p {
  font-family: var(--ff-barlow);
  font-size: var(--fs-18);
  color: var(--clr-dark-grayish);
  line-height: 30px;
  font-weight: bold;
}

.grid1 .grid-interno a, .grid4 .grid-interno a {
  display: block;
  margin-top: 30px;
  font-family: var(--ff-fraunces);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 2px;
  color: var(--clr-very-blue);
  padding-bottom: 0;
  width: 150px;
  height: 20px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.grid2 .img, .grid3 .img {
  height: inherit;
  width: inherit;
}

.grid2 img, .grid3 img {
  position: relative;
  background-size: cover;
  top: 0;
  right: 0;
  height: inherit;
  width: inherit;
}

.grid5, .grid6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 60vh;
  position: relative;
  width: inherit;
}

.grid5 img, .grid6 img {
  position: absolute;
  background-size: cover;
  top: 0;
  right: 0;
  z-index: 0;
  height: inherit;
  width: inherit;
}

.grid5 .cont, .grid6 .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  bottom: 20px;
  margin: 50px;
  width: 60%;
  z-index: 1;
}

.grid5 .cont h4, .grid6 .cont h4 {
  font-size: 35px;
  font-family: var(--ff-fraunces);
  font-weight: 900;
  margin-bottom: 30px;
}

.grid5 .cont p, .grid6 .cont p {
  font-family: var(--ff-barlow);
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.grid5 .cont h4, .grid5 .cont p {
  color: var(--clr-dark-cyan);
}

.grid6 .cont h4, .grid6 .cont p {
  color: var(--clr-dark-blue);
}

.client-testem {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: inherit;
  height: 900px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px;
  margin-bottom: 2rem;
}

.client-testem h1 {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: var(--clr-grayish-blue);
  letter-spacing: .7rem;
  font-weight: 1000;
  font-family: var(--ff-fraunces);
  padding-bottom: 5rem;
  margin-top: 5rem;
}

.client-testem .container-client {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.client-testem .container-client .client {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-testem .container-client .client .img-cli {
  margin: 20px 0 20px 0;
}

.client-testem .container-client .client .img-cli img {
  border-radius: 50%;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.client-testem .container-client .client .depo-cli {
  margin: 1rem 0;
  font-family: var(--ff-barlow);
  font-weight: 600;
  color: var(--clr-very-gray-blue);
  font-size: 1.3rem;
  text-align: center;
  line-height: 3rem;
  padding: .6rem 1.2rem 2rem 1.2rem;
}

.client-testem .container-client .client cite {
  margin: 50px 0 20px 0;
  font-size: 1.5rem;
  font-weight: 1000;
  font-family: var(--ff-fraunces);
  color: var(--clr-very-blue);
}

.client-testem .container-client .client .cargo-cli {
  font-size: 1.2rem;
  font-family: var(--ff-barlow);
  color: var(--clr-grayish-blue);
  font-weight: 200;
}

.galeria {
  width: 100%;
}

.galeria .grid-img {
  display: -ms-grid;
  display: grid;
  width: inherit;
  grid-auto-rows: minmax(0, auto);
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.galeria .grid-img .img1, .galeria .grid-img .img2, .galeria .grid-img .img3, .galeria .grid-img .img4 {
  width: 100%;
  height: 100%;
}

.galeria .grid-img .img1 img, .galeria .grid-img .img2 img, .galeria .grid-img .img3 img, .galeria .grid-img .img4 img {
  background-size: cover;
  width: inherit;
  height: inherit;
}

.galeria .grid-img .img1 {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.galeria .grid-img .img2 {
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.galeria .grid-img .img3 {
  -ms-grid-column: 3;
  grid-column: 3/3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.galeria .grid-img .img4 {
  -ms-grid-column: 4;
  grid-column: 4/4;
  -ms-grid-row: 1;
  grid-row: 1;
}

footer {
  background: var(--clr-dark-moderate);
  width: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 400px;
}

footer .container-footer .nav-footer .nav-brand {
  margin-top: 10px;
}

footer .container-footer .nav-footer .nav-brand h3 {
  color: var(--clr-dark-cyan);
  font-family: var(--ff-barlow);
  font-weight: bold;
  font-size: 2.2rem;
  margin-top: 50px;
}

footer .container-footer .nav-footer li {
  display: inline-block;
  margin-top: 20px;
  padding: 30px;
  font-family: var(--ff-barlow);
}

footer .container-footer .nav-footer li :hover {
  color: var(--clr-white);
}

footer .container-footer .nav-footer li a {
  text-decoration: none;
  color: var(--clr-dark-cyan);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

footer .container-footer .social {
  margin: 30px 0;
  padding: 20px;
}

footer .container-footer .social img {
  margin: 0 20px 0 20px;
  width: 32px;
  height: 32px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

footer .container-footer .social a :hover {
  background: var(--clr-white);
}

footer .container-footer .attribution {
  font-family: var(--ff-barlow);
  font-size: 1rem;
  color: var(--clr-dark-blue);
}

footer .container-footer .attribution a {
  color: var(--clr-white);
}

@media (max-width: 1025px) {
  body {
    min-width: 768px;
    max-width: 1024px;
    font-size: 14px;
    width: 100%;
  }
  body header {
    width: 100%;
  }
  body .container-grid {
    width: inherit;
    max-width: 100%;
  }
  body .grid1, body .grid4 {
    padding: 100px 50px 100px 50px;
  }
  body .grid1, body .grid2, body .grid3, body .grid4, body .grid5, body .grid6 {
    height: 500px;
  }
  body .grid1 .grid-interno h2, body .grid2 .grid-interno h2, body .grid3 .grid-interno h2, body .grid4 .grid-interno h2, body .grid5 .grid-interno h2, body .grid6 .grid-interno h2 {
    font-size: 2.5rem;
  }
  body .grid1 .grid-interno p, body .grid2 .grid-interno p, body .grid3 .grid-interno p, body .grid4 .grid-interno p, body .grid5 .grid-interno p, body .grid6 .grid-interno p {
    font-size: 1rem;
  }
  body .grid1 .grid-interno a, body .grid2 .grid-interno a, body .grid3 .grid-interno a, body .grid4 .grid-interno a, body .grid5 .grid-interno a, body .grid6 .grid-interno a {
    font-size: .8rem;
  }
  body .grid5 .cont h4, body .grid6 .cont h4 {
    font-size: 1.8rem;
  }
  body .grid5 .cont p, body .grid6 .cont p {
    font-size: .9rem;
  }
  .client-testem h1 {
    font-size: 1.5rem;
  }
  .client-testem .container-client .client p {
    font-size: 1rem;
  }
  .client-testem .container-client .client cite {
    font-size: 1.3rem;
  }
  .client-testem .container-client .client .cargo {
    font-size: 1.1;
  }
}

@media (max-width: 768px) {
  body {
    max-width: 768px;
    font-size: 14px;
    width: 100%;
  }
  header {
    max-width: inherit;
    width: inherit;
  }
  header .img-header {
    width: inherit;
    background-size: cover;
  }
  header .titulo img {
    margin-top: 50px;
    height: 15%;
  }
  header .titulo h1 {
    margin-top: 200px;
    color: var(--clr-white);
    font-size: 5rem;
    font-family: var(--ff-fraunces);
    font-weight: 200;
    text-transform: uppercase;
    word-spacing: 40px;
  }
  .container-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: minmax(0, auto);
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 6;
    grid-row: 6;
    max-width: 100%;
    width: inherit;
  }
  .container-grid .grid2, .container-grid .grid3 {
    height: 50vh;
  }
  .container-grid .grid1, .container-grid .grid4, .container-grid .grid5, .container-grid .grid6 {
    height: 70vh;
  }
  .container-grid .grid5 h4, .container-grid .grid6 h4 {
    font-size: 25px;
  }
  .container-grid .grid5 p, .container-grid .grid6 p {
    font-size: 15px;
  }
  .container-grid .grid1, .container-grid .grid4 {
    padding: 60px 25px 60px 25px;
  }
  .container-grid .grid1 .grid-interno, .container-grid .grid4 .grid-interno {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-grid .grid1 .grid-interno h2, .container-grid .grid4 .grid-interno h2 {
    font-size: 3rem;
    margin-bottom: 30px;
    padding: 30px 0 30px 0;
  }
  .container-grid .grid1 .grid-interno p, .container-grid .grid4 .grid-interno p {
    font-family: var(--ff-barlow);
    font-size: 1.2rem;
  }
  .container-grid .grid1 .grid-interno a, .container-grid .grid4 .grid-interno a {
    display: inline-block;
    margin-top: 60px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-grid .grid1, .container-grid .grid2, .container-grid .grid3, .container-grid .grid4, .container-grid .grid5, .container-grid .grid6 {
    -ms-grid-column: 1;
    grid-column: 1;
    width: 70vw;
    margin: 0 auto;
  }
  .container-grid .grid1 {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .container-grid .grid2 {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .container-grid .grid3 {
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .container-grid .grid4 {
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .container-grid .grid5 {
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .container-grid .grid6 {
    -ms-grid-row: 6;
    grid-row: 6;
  }
  .client-testem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 20px 0 20px;
    height: 1300px;
  }
  .client-testem h1 {
    padding: 3rem 1rem 2rem 1rem;
    font-size: 1.8rem;
  }
  .client-testem .container-client {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .client-testem .container-client .client {
    margin: 0;
    padding: 0;
  }
  .client-testem .container-client .client .img-cli {
    margin: 0;
    padding: 0;
  }
  .client-testem .container-client .client .depo-cli {
    margin-top: 1rem;
    font-size: 1.3rem;
    line-height: 2.5rem;
    padding: .6rem 5rem .5rem 5rem;
  }
  .client-testem .container-client .client cite {
    margin: 30px 0 2px 0;
    font-size: 1.3rem;
  }
  .client-testem .container-client .client .cargo-cli {
    font-size: 1rem;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
  }
  .galeria {
    width: 100%;
    margin-top: 8.5rem;
  }
  .galeria .grid-img {
    display: -ms-grid;
    display: grid;
    width: inherit;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(0, auto);
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .galeria .grid-img .img1 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .galeria .grid-img .img2 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2/2;
  }
  .galeria .grid-img .img3 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .galeria .grid-img .img4 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2/2;
  }
  .galeria .grid-img .img1, .galeria .grid-img .img2, .galeria .grid-img .img3, .galeria .grid-img .img4 {
    width: 100%;
    height: 100%;
  }
  .galeria .grid-img .img1 img, .galeria .grid-img .img2 img, .galeria .grid-img .img3 img, .galeria .grid-img .img4 img {
    background-size: cover;
    width: inherit;
    height: inherit;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  body {
    max-width: 425px;
    font-size: 12px;
    width: 100%;
  }
  header .titulo {
    font-size: 1rem;
  }
  .container-grid {
    width: 375px;
    border: 1px solid red;
  }
  .container-grid .grid5 h4, .container-grid .grid6 h4 {
    font-size: 22px;
  }
  .container-grid .grid5 p, .container-grid .grid6 p {
    font-size: 12px;
  }
  .container-grid .grid1, .container-grid .grid4 {
    padding: 0;
  }
  .container-grid .grid1 .grid-interno, .container-grid .grid4 .grid-interno {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-grid .grid1 .grid-interno h2, .container-grid .grid4 .grid-interno h2 {
    font-size: 2.6rem;
    margin-bottom: 30px;
    padding: 30px 0 30px 0;
  }
  .container-grid .grid1 .grid-interno p, .container-grid .grid4 .grid-interno p {
    font-family: var(--ff-barlow);
    font-size: 1.2rem;
  }
  .container-grid .grid1 .grid-interno a, .container-grid .grid4 .grid-interno a {
    display: inline-block;
    margin-top: 60px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-grid .grid1, .container-grid .grid2, .container-grid .grid3, .container-grid .grid4, .container-grid .grid5, .container-grid .grid6 {
    -ms-grid-column: 1;
    grid-column: 1;
    width: inherit;
    border: 1px solid red;
  }
  .container-grid .grid1 .img, .container-grid .grid2 .img, .container-grid .grid3 .img, .container-grid .grid4 .img, .container-grid .grid5 .img, .container-grid .grid6 .img {
    width: inherit;
  }
}
/*# sourceMappingURL=estilo.css.map */